body {
    padding: 0;
    margin: 0;
    text-align: center;
    
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
     height: 650px; 
     width : 1000px;
  }
  
  #game-intro {
    background-image: url(images/spider-man-marvel.jpg);
    background-size: cover;
    /* background-size: 100% 100%; */
    width: 1000px;
    height: 500px;
    padding: 20px 0px;

  }
  #introContainer {
    margin-right: 400px;
    margin-top: 100px;
  }
  #introContainer h1{
    font-size: 40px;
    font-weight: bold;
  }

  
  #game-container {
    display: none;
    /* display: flex; */
    flex-direction: column;
  }

  #game-container p {
  margin: 10px;
  }

  #userId{
margin-right: 100px;
font-size: large;
font-weight: bold;
  }
  
  #goodLock{
    margin-right: 150px;
    font-size: large;
    font-weight: bold;
    color: rgb(232, 14, 14);
      }
  #scoreDiv {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }
  
  h2{
    color: aqua;
  }
  #game-screen {
    display: none;
    align-content: center;
    padding: 20px 0px;
    overflow: hidden;
    position: relative;
  
    background-image: url(../images/bg3.jpg);
    background-size: cover;
    
  }
  
  #endContainer {
    background-image: url(../images/sadspiderman2.jpg);
    background-size: cover;
    display: flex ;
    flex-direction: column;
    width: 1000px;
    height: 500px;

  }

  #game-end {
    display: none;

  }
  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana";
  }
  
  .logo-img {
    width: 300px;
  }
  
  .arrows-img {
    width: 150px;
  }
  
  #start-button {

    display: inline-block;
    position: relative;
    width: 300px;
    margin: 25px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font: bold 22px/35px Arial, sans-serif;
 
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
 
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
 
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
 
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;

  }

  #restart-button {

    display: inline-block;
    position: relative;
    width: 300px;
    margin: 25px;
    margin-left: 160px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font: bold 22px/35px Arial, sans-serif;
 
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
 
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
 
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
 
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;

  }
  
  #userName {
    /* justify-content: left;
    align-items: end; */
    text-align: left;
    align-content: flex-start;

  }
  #score {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
  }

  #lives {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
  }

  #userDiv {
    font-size: 24px;
    color: #333;
    text-align: left;
    margin: 0px;
  }

  #endContainer h1, h3 {
    color: 	rgba(236, 210, 210, 0.871);
    width: 400px;
    margin-left: 110px;
    margin-top: 10px;
  }
  #endContainer h1 {
    font-size: 60px;
    margin-top: 40px;
  }

